@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700');

html, body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  background-color: #f9f9f9;
}

@media (max-width: 700px) {
  html, body {
    font-size: 12px;
  }
}

/* @media (max-width: 480px) {
  html, body {
    font-size: 10px;
  }
} */

/* .App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
} */
